<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Very Share</title>

  <link rel="shortcut icon" sizes="16x16" href="/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="32x32" href="/images/favicon32x32.png" type="image/png">
  <link rel="shortcut icon" sizes="64x64" href="/images/favicon64x64.png" type="image/png">

  <meta name="description" content="<%= description %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">
  <meta name="twitter:url" content="http://<%= host %>">

  <!-- Open Graph data -->
  <meta property="og:title" content="Very Share" />
  <meta property="og:site_name" content="Very Share"/>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://<%= host %>/" />
  <meta property="og:image" content="http://<%= host %>/images/veryshare.png" />
  <meta property="og:description" content="<%= description %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="/stylesheets/very.css" async />
  <link href='//fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css' async />
  <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" async /> 
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript" defer></script>
  <script type="text/javascript" src="/javascripts/centerIn.js" defer></script>
  <script type="text/javascript" src="/javascripts/blot.js" defer></script>
  <script type="text/javascript" src="/javascripts/ColorUtils.js" defer></script>
  <script type="text/javascript" src="/javascripts/very.js" defer></script>
</head>

<body>
  <div id="container">
    <div id="youare"><%= wow %><p><%= you_are %></p></div>
    <div id="share" class="untouchable">
      <span id="main" class="untouchable">VeryShare</span>
      <div id ="social" class="untouchable">
        <img class="untouchable" src="images/facebook.png" alt="Facebook" />
      </div>
    </div>

    <div id="next">next social</div>
  </div>

  <a target="_blank" id="submit-vocals" href="/share-your-voice">Such Voice!</a>

  <div id="rewardtext"></div>
  <div id="again">share again!</div>
  <div id="youshared"></div>

  <script>
    var you_are = <%= you_are %>;
    var HOST = "<%= host %>";
    var DOGE_IMAGE_SRC = "<%= doge_img_src %>";
    var DOGE_IMAGE_WORDS = <%- JSON.stringify(doge_img_words) %>;

    <% if (process.env.APPENV === 'PRODUCTION') { %>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47300932-1', 'veryshare.us');
    ga('send', 'pageview');

    <% } %>

  </script>
</body>
</html>