<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Share Voice | Very Share</title>

  <link rel="shortcut icon" sizes="16x16" href="/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="32x32" href="/images/favicon32x32.png" type="image/png">
  <link rel="shortcut icon" sizes="64x64" href="/images/favicon64x64.png" type="image/png">

  <meta name="description" content="<%= description %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">
  <meta name="twitter:url" content="http://<%= host %>">

  <!-- Open Graph data -->
  <meta property="og:title" content="Very Share" />
  <meta property="og:site_name" content="Very Share"/>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://<%= host %>/" />
  <meta property="og:image" content="http://<%= host %>/image.jpg" />
  <meta property="og:description" content="<%= description %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/very.css" async />
  <link href='//fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css' async />
  <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" async /> 
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript" defer></script>
  <script type="text/javascript" src="/javascripts/centerIn.js" defer></script>
  <script type="text/javascript" src="/javascripts/very.js" defer></script>
</head>

<body>

  <h1>Hello beautiful person.</h1>
  <p>We want you to share your voice with us. Submit a voice clip to love@<%= host %> that is
    in the spirit of earnest, optimimisitc, and slightly dumb, sharing and we might share it
    with the world!</p>

  <h2>Details</h2>

  <p>To be accepted your clip must fufill the following conditions:</p>

  <ul>
    <li>.wav file format</li>
    <li>8 or 16 bit depth</li>
    <li>monaural</li>
    <li>Length: 500 - 1500 milliseconds</li>
    <li>Consistent with the spirit of the site</li>
    <li>Limit two clip submissions per person</li>
  </ul>

  <p>Additionally, by submitting a clip, you agree to grant an unlimited world-wide non-exclusive royalty-free copyright license to us to use the clip on Very Share. Basically, it means you're sharing the clip with us so we can share it with other people. &hearts;</p>

  <h2>Example Ideas</h2>

  <p>It's classy to be original, but, if you're looking for ideas here's a few suggestions:</p>

  <ul>
    <li>very share</li>
    <li>such share</li>
    <li>so share</li>
    <li>such amaze</li>
    <li>such wonder</li>
    <li>such wow</li>
    <li>wow</li>
  </ul>

  <script>
    <% if (process.env.APPENV === 'PRODUCTION') { %>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47300932-2', 'verysha.re');
    ga('send', 'pageview');

    <% } %>

  </script>
</body>
</html>